<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>View Blog Post</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>
<body>
<h1 class="text-center mt-3 mb-3">View Blog Post</h1>
<div class="p-3">
  <table class="table">
    <tr>
      <th>ID:</th>
      <td th:text="${blogPost.id}"></td>
    </tr>
    <tr>
      <th>Title:</th>
      <td th:text="${blogPost.title}"></td>
    </tr>
    <tr>
      <th>Content:</th>
      <td th:text="${blogPost.content}"></td>
    </tr>
    <tr>
      <th>Author:</th>
      <td th:text="${blogPost.author}"></td>
    </tr>
  </table>
  <a class="btn btn-info" th:href="@{/posts}">View All Posts</a>
  <a class="btn btn-info" th:href="@{/posts/{id}/edit(id=${blogPost.id})}">Edit Blog</a>
  <a class="btn btn-info" th:href="@{/posts/{id}/delete(id=${blogPost.id})}" onclick="return confirm('Confirm to delete permanently')">Delete</a>
</div>
</body>
</html>